
body {
    box-sizing: border-box;
    left: 0;
    right: 0;
}


.jumbotron {
    padding-top: 6rem;
}

section {
    padding-top: 5rem;
}

.svg3 {
    position: absolute;
}

.card-contact {
    margin: 0 2rem;
}