
body {
    box-sizing: border-box;
    left: 0;
    right: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(5px);
}


.jumbotron {
    padding-top: 6rem;
    backdrop-filter: blur(300px);
}

section {
    padding-top: 5rem;
}


.card-contact {
    margin: 0 10px;
}

.svg1, .svg2, .svg3 {
    margin-bottom: -0.2rem;
} 
