
body {
    box-sizing: border-box;
    left: 0;
    right: 0;
}


.jumbotron {
    padding-top: 6rem;
}

section {
    padding-top: 5rem;
}


.card-contact {
    margin: 0 10px;
}

.svg1, .svg2, .svg3 {
    margin-bottom: -0.2rem;
} 
